In [1]:
# Print 0 to 20 by using range

In [7]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
# Print range 10 to 20

In [49]:
for num in range(10,20):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19

In [13]:
# Print number of items in the list by using 'len"

In [45]:
List2=[10, 20, 14, 55, 43, 87, 76]
print(List2)
print("Number of item in the List2:\n",len(lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [55]:
title="Artificial Intelligence"
print(title)
for letters in title:
    print(letters)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [57]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [77]:
# print this mixered datatype using Tuples

In [65]:
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [75]:
Tuple1=(0,1,2,3)
Tuple2=('python','HOPE')
print((Tuple1,Tuple2))

((0, 1, 2, 3), ('python', 'HOPE'))

In [79]:
# print Odd Nubmers in the list

In [91]:
list=[20,10,16,19,25,1,276,188]
for i in list:
    if ((i%2) == 1):
        print(i, "is odd")

19 is odd
25 is odd
1 is odd

In [87]:
# print Even numbers in the list

In [93]:
list=[20,10,16,19,25,1,276,188]
for i in list:
    if ((i%2) == 0):
        print(i, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even